*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --maincolor: rgb(245, 198, 70);
    color: black;
    --categorycolor:  rgb(250, 188, 16);
}

.dark-mode{
    background-color: rgba(0, 0, 0, 0.808);
    --maincolor: rgb(8, 144, 179);
    --categorycolor:  rgb(8, 144, 179);
     color:white;
} 
#home,#cart{
    font-size:40px;
    color:var(--maincolor,black);
}
/* #filter{
   font-size: larger;
}  */
#categories{
    color:var(--categorycolor,black);
}
#categories:hover{
    color:white;
}
nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    padding: 2% 1% 1%!important;
    background-color: #ccc8c8;
}

.leftside{
    display:flex;
    flex-direction: row;
    gap:30px;
    cursor: pointer; 
}

.rightside{
    display:flex;
    flex-direction: row;
    gap:30px;
    cursor: pointer; 
   
}
.bottomnav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}
.navcontent:hover{
 background-color: var(--maincolor,black);
 padding:0px 5px;
}
#filterList{
    margin-left: 4%;
    cursor: pointer;
}

#filterList span{
    margin-left: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: lighter;
    color:rgb(167, 165, 165);
    list-style: none;
    border: 2px solid var(--maincolor,black);
    border-radius: 25px;
}
#filterList span:hover{
    color: var(--maincolor,black);;
}
footer ul li a:hover{
    color: rgb(245, 198, 70)!important;
}
.fa{
    padding:10px;
    font-size: 10px;
    width:35px;
    /* text-align: center; */
    text-decoration: none;
    border-radius: 60%;
  }
  .fa:hover{
   opacity:0.7;
  }
  .fa-facebook{
    color: #3b5998;
    
  }
  .fa-twitter{
    color: #55ACEE;
  }
  .fa-github{
    color: #333;
  }
  
  .fa-linkedin{
    color: #0077B5;
  }
  .copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
img{
    width: 300px;
    height: 400px;
}
.special-heading{
  color: #dadada;
    text-align: center;
    margin: 20px;
    font-size: 100px;
    font-weight: bold;
}

.About .container p{
  text-align: center;
    margin: -50px 0 0;
    font-size: 20px;
    color: #434141;

}

.About-content{
 display: flex;
 flex-wrap: wrap;
 margin-top: 100px;
 justify-content: space-between;
}

@media (max-width:991px){
.about-text{
text-align: center;
flex-direction: column;/*3shan ynzlo tht b3d*/

margin-top: 40px;

}


.newimage img{
 margin: 0 auto 60;
 padding-left: 110px;



}


.About{
  padding-top: 30px;
  padding-bottom: 30px;
}

}



.newimage::before {
 

    content: "";
    position: absolute;
    width: 140px;
    height: 460px;
    border-left: 80px solid #e6c642;
    /* border-bottom: 80px solid var(--main-color); */
    z-index: -1;
    /* bottom: -20px; */
    top: 475px;
    left: 50px;

}

.newimage::after {
    right: 800px;
    content: "";
    position: absolute;
    width: 140px;
    height: 450px;
    border-left: 80px solid #175d99;
    border-bottom: 80px solid #175d99;
    z-index: -1;
    /* bottom: -20px; */
    top: 475px;
    /* left: 120px; */
}
 

.about-text{
/*flex-basis: calc(100%-500px); /*3shan akhale l klam mfrod w f nfs lw2t wakhd nos lshasha gnb lsora..f ana khlet 500px d llsora */
flex: 1; /*3shn klam ytht gnb sora*/
padding-top: 40px;
    padding-left: 200px;
    line-height: 1.5;
}
.About .container p{
  text-align: center;
    margin: -50px 0 0;
    font-size: 20px;
    color: #434141;

}

.about-text .par1{
  text-align: left;
  padding-bottom: 60px;
    font-weight: bolder;
}

.about-text hr{


width: 300px;
  /* border: tan; */
  /* line-height: 5; */
  /* font-weight: bolder; */
  display: inline-block;
  /* text-align: left; */
  border-color: #1fdabb;
}



.about-text .par2{
  text-align: left; /*3shn klam klo ybd2 left*/
  padding-bottom: 120px;
    font-weight: bolder;
    padding-top: 90px;
    color: #d8dbe1;
}

